.header{
    height:57px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 20px;
    
   
    
   
   
}
.left-section{
    
    width: 200px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    

    
    
}
.humber{
    height: 30px;
   

    margin-left:24px ;
    margin-right: 24px;
    
    
}
.youtube-logo{
    height: 20px;
}

.middle-section{
   
    flex: 1;
    margin-left: 70px;
    margin-right: 35px;
    max-width: 500px;
    display:flex;
    align-items: center;
}
.search-button{
    height: 39px;
    width: 66px;
    background-color:rgb(240, 240, 240);
    border-width: 1px;
    border-style:solid;
    border-color: rgba(186, 185, 185);
    margin-left: -1px;
    margin-right:10px;


}
.search-icon{
   height: 25px;
   margin-top:4px;
}

   
    

.voice-search-button{
    height: 40px;
    width: 40px;
    border-radius: 20px;
    border-radius: 20px;
    border:none;
    background-color: rgb(248, 248, 248);
}
.voice-search{
    height:24px;
    margin-top: 4px;
  
}

.search{
    flex:1;
    height:34px;
    padding-left: 10px;
    font-size: 16px;
    border-width: 1px;
    border-style: solid;
    border-color: rgb(186, 185, 185);
    border-radius: 2px;
    box-shadow: inset 1px 2px 3px rgba(0, 0, 0, 0.1);
    width: 0;
}

.search::placeholder{
    font-family: roboto,arial;
    font-size: 16px;
   
}
.right-section{
     
    width: 180px;
    align-items: center;
    display: flex;
   justify-content: space-between;
   margin-right: 20px;
   flex-shrink: 0;
}
.upload{
    height:24px;
   
}
.apps{
    height:24px;
   
}
.notification{
    height:24px;
   
}
.channel-profile{
    height:50px;
    display: flex;

}